@mixin flex($align, $justify, $dir) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}
$main-color: #071c26;

.main {
  @include flex(flex-start, center, column);
  height: 70%;
  width: 100%;
  background: url("https://www.housedigest.com/img/gallery/how-much-does-it-cost-to-set-up-and-maintain-a-freshwater-fish-tank/l-intro-1655132713.jpg") no-repeat center;
  background-size: cover;

  .header {
    position: relative;
    @include flex(center, space-between, row);
    padding: 0 7rem 0 7rem;
    width: calc(100% - 14rem);
    height: 6rem;

    &__line {
      width: 100%;
      border-top-color: $main-color;
    }

    &__logo {
      cursor: pointer;
      @include flex(center, space-between, row);
      width: 20%;
      height: 100%;
      font-size: 1.3rem;
    }

    &__content {
      @include flex(center, space-between, row);
      height: 100%;
      width: 40%;
      color: $main-color;

      div {
        text-transform: capitalize;
        color: $main-color;
        font-size: 1.2rem;
        font-family: Consolas, serif;
        font-weight: 700;
        letter-spacing: .2rem;
      }
    }

    &__actions {
      @include flex(center, space-between, row);
      height: 100%;
      width: 20%;

      fa-icon {
        cursor: pointer;
        font-size: 1.5rem;
        color: $main-color;
      }

      span {
        .mat-badge-content {
          border-radius: .5rem;
          font-weight: bold;
          background: red;
        }
      }


      .hamb {
        @include flex(center, space-between, row);
        cursor: pointer;
        width: 3rem;

        fa-icon {
          font-weight: bold;
          font-size: .8rem;
          color: $main-color;
        }
      }
    }
  }

  .drop {
    position: absolute;
    top: 6rem;
    @include flex(flex-start, flex-start, column);
    background-color: #071c26;
    width: calc(100% - 3.8rem);
    height: calc(100% - 8rem);
    padding-top: 2rem;
    padding-left: 3.5rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Arial Black", serif;
      color: white;
      margin-bottom: 3.5rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .cover {
    @include flex(center, flex-start, column);
    height: calc(100% - 6rem);
    width: 100%;

    &__main {
      display: block;
      text-align: center;
      height: 10rem;
      margin-top: 5rem;
      width: auto;

      h1 {
        color: $main-color;
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: .3rem;
        border-radius: .5rem;
        font-family: "Comic Sans MS", serif;
        text-transform: capitalize;


      }

      button {
        width: 7rem;
        height: 3.5rem;
        padding: 0;
        position: relative;
        margin-top: 4rem;;
        border: .05rem solid $main-color;
        background: transparent;
        cursor: pointer;
        color: $main-color;
        font-size: 1.2rem;
        font-family: "Comic Sans MS", serif;
        text-transform: capitalize;


        span {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background: $main-color;
        }
      }
    }
  }
}


.special-offer {
  margin-top: 7rem;
  @include flex(flex-start, space-between, row);
  width: calc(100% - 14rem);
  padding: 0 7rem 0 7rem;
  height: 35rem;

  .first-offer {
    @include flex(flex-start, flex-start, column);
    width: 40%;
    height: 100%;

    &__img {
      height: 93%;
      width: 80%;
      background-size: cover;
      background: url("https://image.freepik.com/free-photo/betta-fish-siamese-fighting-fish-isolated-black-background-fine-art-design-concept_35927-367.jpg") no-repeat center;
    }

    &__text {
      margin-top: .1rem;
      text-decoration: none;
      font-family: Verdana, serif;
    }

  }

  .second-offer {
    @include flex(flex-start, space-between, row);
    flex-wrap: wrap;
    width: 55%;
    height: 100%;

    span {
      font-family: Verdana, serif;
    }

    img {
      width: 15rem;
      height: 15rem;
    }

    &__first-ad {
      margin-left: 5rem;
      @include flex(flex-start, flex-start, column);

    }

    &__second-ad {
      margin-left: 5rem;
      @include flex(flex-start, flex-start, column);

    }

    &__third-ad {
      margin-left: 5rem;
      @include flex(flex-start, flex-start, column);

    }
  }

}
