@mixin flex($align, $justify, $dir) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}
$main-color: #071c26;

.main {
  @include flex(flex-start, center, column);
  height: 6rem;
  width: 100%;

  .header {
    position: relative;
    @include flex(center, space-between, row);
    padding: 0 7rem 0 7rem;
    width: calc(100% - 14rem);
    height: 6rem;
    background: transparent;
    color: white;

    &__line {
      width: 100%;
      border-top-color: rgb(43, 45, 48);
    }

    &__logo {
      @include flex(center, space-between, row);
      width: 20%;
      height: 100%;
      font-size: 1.3rem;
    }

    &__content {
      @include flex(center, space-between, row);
      height: 100%;
      width: 40%;
      color: $main-color;

      div {
        text-transform: capitalize;
        font-size: 1.2rem;
        font-family: Consolas, serif;
        font-weight: 700;
        letter-spacing: .2rem;
        color: white;
      }
    }

    &__actions {
      @include flex(center, space-between, row);
      height: 100%;
      width: 20%;

      fa-icon {
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
      }

      span {
        .mat-badge-content {
          border-radius: .5rem;
          font-weight: bold;
          background: red;
        }
      }


      .hamb {
        @include flex(center, space-between, row);
        cursor: pointer;
        width: 3rem;

        fa-icon {
          font-weight: bold;
          font-size: .8rem;
          color: white;
        }
      }
    }
  }

  .drop {
    position: absolute;
    top: 6rem;
    @include flex(flex-start, flex-start, column);
    background-color: #071c26;
    width: calc(100% - 3.8rem);
    height: calc(100% - 8rem);
    padding-top: 2rem;
    padding-left: 3.5rem;
    z-index: -1000;

    a {
      margin-top: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Arial Black", serif;
      color: white;
      margin-bottom: 3.5rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
