@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
$border-color: rgb(43, 45, 48);

.order {
  display: block;
  text-align: start;
  width: calc(100% - 14rem);
  height: calc(80% - 2rem);
  background: transparent;
  padding: 2rem 7rem 0 7rem;
  color: white;

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'DynaPuff', serif;
    font-weight: bold;
    letter-spacing: .2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .mat-form-field {
      width: 40%;
      margin-top: 1rem;
    }

    .mat-form-field-label {
      text-transform: capitalize;
      font-size: 1.1rem;
      color: white;
    }

    .mat-form-field-appearance-outline {

      .mat-form-field-outline {
        color: $border-color
      }
    }

    .mat-error {
      font-size: .9rem;
      text-transform: capitalize;
    }


    input::placeholder {
      font-style: italic;
      font-size: .9rem;
      color: grey;
    }

    input {
      text-transform: capitalize;
      height: 2rem;
      font-size: 1.1rem;
      font-family: "Andale Mono", monospace;
      color: white;
    }

    button {
      font-size: 1.1rem;
      font-family: 'Secular One', monospace;
      text-transform: capitalize;
      background: transparent;
      color: white;
      margin-top: 1rem;
      border: .1rem solid $border-color;
      padding: 0 .5rem 0 .5rem;
      letter-spacing: .2rem;
    }

  }
}