@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel&family=Cormorant+Garamond:wght@300&family=DynaPuff:wght@500&family=Fredoka+One&family=Luckiest+Guy&family=Roboto:ital,wght@0,400;1,300&family=Rubik+Dirt&family=Rubik+Distressed&display=swap');
.success {
  color: green;
}

.error {
  color: red;
}

.container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 100%;
}

.mat-snack-bar-container {
  margin-left: 7rem !important;
  margin-bottom: 2rem;
  letter-spacing: .3rem;
  font-size: 1rem;
  width: auto;
  /*font-family: 'DynaPuff', serif;*/
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
}
