@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel&family=Cormorant+Garamond:wght@300&family=DynaPuff:wght@500&family=Fredoka+One&family=Luckiest+Guy&family=Roboto:ital,wght@0,400;1,300&family=Rubik+Dirt&family=Rubik+Distressed&display=swap');
.success {
  color: green;
}

.error {
  color: red;
}

.container {
  display: block;
  line-height: 1.8rem;
  height: 1.8rem;
  padding-top: .2rem;
}

.mat-snack-bar-container {
  display: block;
  margin-left: 7rem !important;
  margin-bottom: 1rem;
  letter-spacing: .3rem;
  font-size: 1rem;
  width: auto;
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
}
