@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@mixin flex($align, $justify, $dir) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}

.footer {
  @include flex(flex-start, space-between, row);
  flex-wrap: wrap;
  padding: 3rem 10rem 0 10rem;
  width: calc(100% - 20rem);
  height: 15rem;
  margin-top: 7rem;
  border-top: .1rem solid #b964f3;


  div {
    @include flex(center, center, column);
    width: 15rem;
    color: white;


    h2 {
      text-transform: uppercase;
      font-family: "Source Code Pro", serif;
      font-size: 1.3rem;
    }

    p {
      font-family: "Mukta Mahee", monospace;
      font-size: 1.1rem;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}

.footer-bottom {
  display: block;
  line-height: 4rem;
  text-align: center;
  width: 100%;
  height: 4rem;

  p {
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    color: grey;
    text-transform: capitalize;
  }
}

@media (max-width: 1060px) {
  .footer {
    padding: 3rem 5rem 0 5rem;
    width: calc(100% - 10rem);
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 3rem 2rem 0 2rem;
    width: calc(100% - 4rem);
  }
}

@media (max-width: 800px) {
  .footer {
    @include flex(center, flex-start, column);
    width: calc(100% - 4rem);
    height: auto;

    div {
      margin-top: 2rem;


      h2 {
        font-size: 1.1rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

}