<mat-toolbar-row class="footer">
  <div>
    <h2>more to laqua</h2>
    <p class="more">news</p>
    <p class="more">about</p>
    <p class="more">contact</p>
  </div>
  <div>
    <h2>products</h2>
    <p class="more">aquarium</p>
    <p class="more">terrarium</p>
    <p class="more">fitting</p>
  </div>
  <div>
    <h2>costumer support</h2>
    <p class="more">terms and Conditions</p>
    <p class="more">privacy Police</p>
    <p class="more">cookies Policy</p>
  </div>
</mat-toolbar-row>
<div class="footer-bottom">
  <p class="more">all right reserved</p>
</div>